.add-style{
    background-color: burlywood;
}
.next-style{
    background-color: whitesmoke;
}
#odoo_style{
    border: 1px solid #000; /* Чёрная рамка */
}


/* --------------------------- four blocks snippet --------------------------- */
.four_block{
    /* background-image: url("../img/s_4_block.jpg"); */
    background: url("../img/s_4_block.jpg");
    width: 553px;
    height: 368px;
}
#two{
    left: 30px;
}
#four{
    left: 30px;
}

.one_button {
    opacity: 0;
    position: absolute;

    width: 100px;
	height: 100px;
    -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;

    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;

    transition: all 0.5s;
    cursor: pointer;
    margin-left: 423px;
    margin-top: 15px;

    transition-property: opacity;
    transition-duration: .9s;
}

.four_block:hover .one_button {
    opacity: 1;
}
.four_block:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/s_4_block.jpg");
}



/* --------------------------- three blocks snippet --------------------------- */
.three_block{
    width: 297px;
    height: 288px;
}
#three #header_text {
    text-align: center;
}

#three_one{
    left: 90px;
    background-color: #ff7a43;
}

#three h2{
    margin-top: 60px;
}

#three_two{
    left: 120px;
    background-color: #121212;
}
#three_three{
    left: 150px;
    background-color: #007cef;
}